<h1>Articles</h1>
<% @articles.each do |article| %>
  <%= link_to article.name, "https://www.amazon.de/dp/#{article.asin}" %><br>
  <%= humanized_money_with_symbol(article.last_stored_price) %>
  <br>
<% end %>

<%= link_to 'Neuen Artikel hinzufügen', new_article_path %>
